.glass-panel {
  @apply bg-white/70 backdrop-blur dark:bg-slate-900/70;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgb(203 213 225) transparent;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgb(203 213 225);
  border-radius: 3px;
}

.dark .scrollbar-thin {
  scrollbar-color: rgb(71 85 105) transparent;
}

.dark .scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgb(71 85 105);
}
